<?php
/**
 * @author Petar Todorovski <petartodorovskigod@gmail.com>
 * @copyright Copyright (c) 2020 Kickstand
 * @package Audioeye_Reports
 */

/** @var \Audioeye\Reports\Block\Adminhtml\Config\AEPage $block */
?>
<?php if ($block->isAccountInstalled()): ?>
    <iframe src="<?= $block->getIframeSrc() ?>" style="min-height: 700px; width: 100%; overflow:hidden; border: none" name="aeiframe" id="aeiframe" allowtransparency="true"></iframe>
<?php else: ?>
    <div class="message message-note">
        <span><?php echo __("Your account is not installed.");?></span>
    </div>
<?php endif; ?>
